body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	background: rgba(255, 255, 255, 0.897);
}
.fa {
	color: rgb(241, 72, 4);
}
.button {
	background: rgb(241, 72, 4) !important;
}
#shadow {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	background: black;
	opacity: .6;
	display: none;
	transition: all 500ms ease;
	z-index: 994 !important;
}
.grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}
.container {
	width: 95%;
	margin: auto;
}

#topheader {
	/* transition: all 1s ease; */
	width: 100%;
	background: rgb(241, 72, 4);
	z-index: 992;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}
#topheader .container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 5px;
}
#topheader a i {
	color: white;
	font-size: 28px;
}

.left-head {
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.center-head {
	width: 20%;
}
.right-head {
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#sitename {
	color: white;
	font-size: 25px;
	font-weight: bold;
}

#sidenav {
	opacity: 0;
	width: 0px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: rgb(255, 255, 255);
	transition: all 500ms ease;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.hero_image {
	width: 0px;
	height: 200px;
	overflow: hidden;
	background-image: url(./images/hero.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 500ms ease;
}

.fa-ul {
	/* background:green; */
	width: 0px;
	margin-left: 0;
	display: flex;
	flex-direction: column;
	transition: all 500ms ease;
}
.fa-ul li {
	padding: 10px;
	align-items: center;
	display: flex;
	justify-content: flex-start;
}
.nav_icons {
	margin-right: 20px;
}
.fa-ul li:hover,
.fa-li:hover {
	background: rgb(224, 224, 224);
}

.nav_list {
	overflow: hidden;
	width: 250px;
	height: auto;
	padding: 0;
}
#categories {
	background: url('./images/hero.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 980;
	top: 40px;
	height: 23vh;
	/* border-bottom:.5px solid rgba(173, 173, 173, 0.795); */
}

#categories .container {
	width: 60%;
	margin: auto;
	/* background:rgb(0, 0, 0); */
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
}

.category_image {
	height: 45px;
	width: 45px;
	/* background:url(./images/baradhoo.jpeg); */
	background-size: cover;
	background-repeat: no-repeat;
	border: 2px solid white;
}
/* .category_image2{
  height:90px;
  width:90px;
  background:url(./images/barbarooni.jpg);
  background-size: cover;
  border:2px solid white;
}
.category_image3{
  height:45px;
  width:45px;
  background:url(./images/xabuub.jpg);
  background-size: cover;
  border:2px solid white;
} */

#c_image_caption {
	position: absolute;
	top: 100px;
	font-size: 16px;
	font-weight: bold;
}

#content {
	background: rgba(255, 254, 254, 0.897);
	grid-column: 1/4;
	/* overflow: touch; */
	margin-top: calc(23vh + 41px);
}

.categories_items {
	/* width:95%; */
	margin: auto;
	display: flex;
	/* background:rgb(245, 245, 245); */
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	border-top: .5px solid rgba(173, 173, 173, 0.795);
}
.categories_title:last-child {
	border-bottom: .5px solid rgba(173, 173, 173, 0.795) !important;
}
.title {
	margin: 0;
}
.title2 {
	margin: 0;
}
.leading {
	font-size: 28px;
}

.content_categories {
	transition: all 1s ease;
}

.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 700;
	/* margin-top:5px;
   */
	padding: 5px 10px;
	border-bottom: .5px solid rgba(173, 173, 173, 0.795);
}
.item_image {
	/* background-image: url(./images/basal.jpg); */
	background-size: contain;
	background-repeat: no-repeat;
	height: 40px;
	width: 60px;
}

.item_content {
	/* background:red; */
	width: 75%;
	padding-left: 5px;
}

.item_content_icons {
	font-size: 16px;
}

.items {
	display: none;
}

.return {
	display: none;
}

#searchinput {
	/* padding:10px; */
	border: none;
	background: transparent;
	width: 0%;
	color: white;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: .5; /* Firefox */
	font-weight: bold;
}

.float-btn {
	border: none;
	border-radius: 50px;
	color: white;
	background: rgb(241, 72, 4);
	position: fixed;
	bottom: 30px;
	right: 15px;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 5px 4px -1px rgba(0, 0, 0, 0.671);
}

.float-btn .fa {
	color: white;
	font-size: 18px;
}

.products {
	display: flex;
	flex-direction: column;
	padding: 10px;
	grid-column: 1/4;
}

.product {
	width: 80%;
	margin: auto;
	background: red;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	border-radius: 10px;
	padding: 10px;
	z-index: 970;
}

.products ul {
	width: 90%;
	margin: 0;
	padding: 0;
}

.products ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 28px;
}

.form {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.137);
	align-items: center;
	justify-content: center;
	display: flex;

	flex-direction: column;
}

.form > * {
	padding: 10px;
}
.notify {
	position: fixed;
	bottom: 15px;
	right: 0;
	left: 0;
	height: 0;

	color: white;
	background: black;
	/* opacity:.8; */
	transition: all 600ms ease-in-out;
	align-items: center;
	display: flex;
	justify-content: center;
	z-index: 999099 !important;
}

.preloader {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.137);
	align-items: center;
	display: flex;
	transition: all 1s ease-in-out;
}

.preloader img {
	width: 20%;
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		margin-left: 0%;
	}

	50% {
		margin-left: 20%;
		transform: rotate(40deg);
	}
	80% {
		margin-left: 40%;
		transform: rotate(-40deg);
	}
	100% {
		transform: rotate(0deg);
		margin-left: 100%;
	}
}

.counter {
	position: absolute;
	top: -4px !important;
	right: 0;
	font-size: 10px;
	color: white;
	background: green;
	padding: 4px;
	border-radius: 20px;
	height: 12px;
	width: 12px;
	overflow: hidden;
	justify-content: center;
	display: flex;
	font-weight: bold;
}

#cart {
	position: relative;
}

.categories_title {
	/* padding:10px; */
	color: rgb(97, 97, 97);
}

.categories_title:first-child {
	margin-top: 10px;
}

.checkout {
	position: fixed;
	bottom: 15px;
	right: 15px;
	padding: 10px;
	border: none;
	border-radius: 100px;
	background: rgb(241, 72, 4);
	color: white;
	z-index: 992;
	font-weight: bold;
	height: 60px;
	width: 60px;
}

.home_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(253, 253, 253, 0.788);
	color: white;
	height: 100vh;
	overflow: hidden;
	padding: 0;
}

.home_container ul {
	/* display: flex; */
	background: rgb(241, 72, 4);
	width: 100%;
	margin: 0;
	flex-direction: column;
	align-items: center;
	display: none;
	height: 100vh;
	justify-content: center;
}

.home_container ul li {
	list-style: none;
	margin: 20px;
}

.home_container ul li a {
	font-size: 28px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	background: black;
	border: 1px solid white;
	opacity: .9;
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
}

.popup {
	z-index: 999;
	position: fixed;
	top: 30vh;
	right: 15px;
	left: 15px;
	background: rgb(221, 221, 221);
	color: rgba(14, 14, 14, 0.904);
	padding: 20px;
	/* transition: all 500ms ease-in-out; */
	display: none;
	box-shadow: 0px -41px 0px 100vh rgba(0, 0, 0, 0.62);
}

.input {
	padding: 6px;
	/* border:.1px solid rgb(194, 194, 194); */
	/* background:rgb(240, 240, 240); */
	width: 48%;
	border: none;
	border-bottom: 1px solid rgb(7, 7, 7);
	background: transparent;
	margin: 10px;
}
.input::placeholder{
  color:black;
}
.select:active {
	border: none;
}
.group {
	display: flex;
	justify-content: space-between;
}

.textarea {
	margin-top: 10px;
	width: 100%;
}

.button {
	border: none;
	padding: 4px;
	color: white;
	float: right;
	margin-top: 10px;
}

.back {
	float: left !important;
	margin-top: 10px;
	background: rgb(34, 34, 34) !important;
}


.loader {
	border: 5px solid #f3f3f3; /* Light grey */
	border-top: 5px solid rgb(241, 72, 4); /* Blue */
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
	margin: 40px auto 10px auto;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }